# Ignorar archivos compilados de Java
*.class

# Ignorar directorios de compilación
/bin/
/target/

# Ignorar archivos generados por IDEs
/.idea/
/*.iml
/.vscode/

# Ignorar paquetes de dependencias (si utilizas Maven o Gradle)
# Maven
/mvnw/
/mvnw.cmd
/.mvn/
/target/

# Gradle
.gradle/
/build/

# Ignorar archivos de configuración de sistema en macOS
.DS_Store

# Ignorar archivos de respaldo creados por editores de texto
*~
*.swp
*.swo
